
[bind:children]
master
slaves

[bind:vars]
zone_name=example.com
forwarders=['192.168.1.1']
admin_email=admin.example.com
update_key="bKcZ4P2FhWKRQoWtx5F33w=="
nameservers=[ { 'name': 'ns1', 'address': '192.168.33.10' } ]

[master]
bind-master

[slaves]
bind-slave-1
bind-slave-2

