[bind:children]
masters
slaves

[bind:vars]

zone_name=example.com
zone_masters=[ 'ns1' ]
forwarders=['192.168.1.1']
admin_email=admin.example.com
update_key="bKcZ4P2FhWKRQoWtx5F33w=="
nameservers=[ { 'name': 'ns1', 'address': '192.168.33.10' }, { 'name': 'ns2', 'address': '192.168.33.11' }, { 'name': 'ns3', 'address': '192.168.33.12' }, ]

[masters]
bind-master

[slaves]
bind-slave-1
bind-slave-2

