include "/etc/named/update.key" ;

zone {{ zone_name }} {
  type slave ; 
  masters { {% for address in masters %} {{ ns.address }} ; {% endfor -%} } ;
  file "/var/named/dynamic/zone.db" ;
  allow-update-forwarding { any ; } ;
};
