$ORIGIN {{ zone }}.
@				IN SOA			 {{ nameservers[0].name }}.{{ zone }}. {{ contact }} (
				0     ; serial number
				8h    ; refresh
				1h    ; retry
				7d    ; expire
				1d  ) ; min TTL

				IN	NS	{{ nameservers[0].name }}.{{ zone }}.
				
{{ nameservers[0].name }}	IN	A	{{ nameservers[0].address }}
